<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./footer.component.css" type="text/css">
</head>
<body>
    <!--     FOOTER-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <p style="font-size: large;">If you are Hungry </p>
                    <a href="#" class="btn">Order Now  <i class="fa fa-phone"></i></a>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> India</li>
                        <li><i class="fa fa-whatsapp"></i> +91 xxxx-xxx-xxx</li>
                        <li><i class="fa fa-envelope-o"></i> food@gmail.com</li>
                    </ul>
                </div>
                
                <div class="footer-col-2">
                    <h3 style="text-align: left;">Useful Links</h3>
                    <ul style="text-align: left;">
                        <li>Coupons</li>
                        <li>Blogs</li>
                        <li>Policy</li>
                        <li>FAQ</li>
                    </ul>
                </div>
                <div class="footer-col-3" >
                    <h3 style="text-align: left;">Follow Us</h3>
                    <ul style="text-align: left;">
                        <li><a href="#"><i class="fa fa-facebook"></i>    Facebook</a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i>   Instagram</a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i>    Pintrest</a></li>
                    </ul>
                </div>
                
            </div>
            <hr>
            <p class="copyright"> 
                <a href="#">Copyright 2021 - Team Food Delivery System</a>
            </p>
        </div>
    </div>
</body>
</html>