<section id="dish" class="container">
    <div class="box-container">
        <div class="box">
            <img src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/q/p/p2-15578279855cda919190622.jpg?tr=tr:n-large" alt="cannot display image">
            <div class="info">
                <h4>{{post.name}}</h4>
                <p>{{post.description}}</p>
                <a href="#"><button class="btn">Add to Cart</button></a>
            </div>
        </div>
    </div>

</section>