#dish {
    min-height: 100vh;  
    width: 100vw;
  }
  
  #dish .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;
  }
  
  #dish .box-container .box {
    height: 20rem;
    width: 20rem;
    border-radius: .5rem;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 .5rem #333;
            box-shadow: 0 0 .5rem #333;
  }
  
  #dish .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  #dish .box-container .box .info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.6);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    color: #fff;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #dish .box-container .box .info h3 {
    font-size: 3rem;
  }
  
  #dish .box-container .box .info p {
    font-size: 1.3rem;
    border-bottom: 0.2rem solid #FFF200;
    border-top: 0.2rem solid #FFF200;
    margin: 1rem 2rem;
  }
  
  #dish .box-container .box .info button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 3rem;
    width: 12rem;
  }
  
  #dish .box-container .box .info button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
  }
  .btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
  }
  
  #dish .box-container .box .info button:hover::before {
    width: 100%;
  }
  
  #dish .box-container .box:hover .info {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  